.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 60px 0px;
    background: #fff;

  }
  .mainContainer h1{
    color: var(--green);
    font-size: 72px;
  }
  
.categoriesName{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}
.categoriesName img{
    border-radius: 10px;
}
.fruitCategories{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}
.fruitCategories p{
    position: absolute;
    font-size: 28px;
    color: #fff;
    margin: 0px 0px 0px 24px;
}
.seeAllButton {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
    color: var(--green);
    border-radius: 25px;
    border: 2px solid var(--green);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 71px;
    font-size: 17px;
    width: 203px;
    gap: 5px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    font-weight: bold;

  }
  .seeAllButton:hover{
    background-color: var(--green);
    color: #fff;
  }
  
  .seeAllButton:active{
    transform: scale(0.98); 
  }

  @media (min-width: 320px) and (max-width: 600px) {
    .categoriesName{
      flex-wrap: wrap;
    }
    .categoriesName img{
      width: 158px;
      height: 101px;
    }
    .fruitCategories p{
      font-size: 16px;
     
      margin: 0px 0px 0px 12px;
    }
    .mainContainer{
      gap: 24px;
      padding: 40px 0px;
    }
    .seeAllButton{
      width: 165px;
      border-radius: 16px;
      height: 38px;
      font-size: 12px;
    }
    .mainContainer h1{
     font-size: 40px;
    }
  }

  @media (min-width: 601px) and (max-width: 1300px) {
    .categoriesName{
      display: grid;
      grid-template-columns: auto auto;
    }
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
  .mainContainer h1 {
    font-size: 64px;
  }
  .fruitCategories p{
    font-size: 20px;
  }
}