.heading h1{
    text-align: center;
    color: var(--green);
    font-size: 72px;
}
.heading{
    padding: 0px 0px 40px 0px;
}
.vipmain{
    padding: 50px;
}
.juicy p img{
    display: flex;
   margin: auto;
   height: 100%;
   width: 250px;
  }
.viplistConatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9ead3;
    padding: 20px 11px;
    border-radius: 2px;
}
.viplistConatiner p{
  color: rgb(56 63 55);
}
.viplistConatiner a{
    color: var(--green);
    text-decoration: underline;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.juicy{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.juicy h4{
    color: var(--green);
}
.juicy h3{
    color: var(--green);
}

.juicy p{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.juicy p:first-child{
    font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-family: Calistoga;
  color: var(--green);
}
.formFeild{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.inputField{
    border-radius: 4px;
    padding: 0px 0px 0px 16px;
    height: 50px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: 1px;
}
.formFeild label{
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    padding-bottom: 6px;
    display: block;
}
.productimg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.productimg img{
    width: 250px;
}
.signUpvip p:first-child{
 color: var(--green);
 font-family: Calistoga;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    margin-bottom: 15px;
}
.submit{
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--green);
    background-color: var(--green);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    font-size: 17px;
    width: 134px;
    font-weight: 600;
    gap: 5px;
    cursor: pointer;
    text-align: center;
}
.msgInfo{
    font-size: 14px;
}

.errorMessage{
    color:#D8000C;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
  }

@media only screen and (max-width: 600px){
    .juicy p:first-child{
        font-size: 16px;
    }
    .juicy p{
        font-size: 14px;
    }
    .vipmain{
        padding: 20px;
    }
    .heading{
        padding: 20px 0px 20px 0px;
    }
    .heading h1{
        font-size: 30px;
    }
}