.registerSkeleton {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.registerBox {
 
}

.gridContainer {}

.errorMessage {
  color: #D8000C;
  font-weight: 600;
  display: block;
  text-align: left;
  margin: 10px 0px 0px 0px;
}

.registerWrapper {
  /* background-image: url('/Images/rimage.png'); */
  position: relative;
  background-size: cover;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;

}

.imgWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.innerWrapper {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 98px 0px;
  background: rgba(29, 64, 92, 0.4);
}

.heading {
  color: #fff;
}

.text {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.4px;
  padding: 8px 0px 0px 0px;
}

.formWrapper {
  margin-top: 30px;
}

.formControlBox {
  width: auto;
  margin: 45px 0px 30px 0px;
  display: flex;
  gap: 20px;
}

.formLabel {
  color: #ffffff;
  text-align: left;
  padding-bottom: 10px;
  font-size: 20px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
}

.textField {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 21px 37px;
  border: none;
  width: 461px;
  max-width: 461px;
  height: 75px;
  max-height: 75px;
  font-size: 20px;

}

.textField::placeholder {
  color: #212121;
  font-size: 20px;
}

.registerButton {
  background-color: #01395e;
  color: #ffffff;
  border-radius: 10px;
  padding: 17px 0px;
  margin: 38px 0px 0px 0px;
  border: none;
  width: 230px;
  max-width: 230px;
  height: 74px;
  max-height: 75px;
  font-size: 20px;
  cursor: pointer;
}

.registerButton:hover {
  background-color: #2a5e88;
}

.registerButton:active {
  transform: scale(0.98);
}

.checkboxContainer {
  display: flex;
  align-items: center;
  color: #fff;
}

.checkbox {
  margin-right: 10px;
  margin-left: 6px;


  accent-color: #ffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    outline: none;
    border: 2px solid #ffff;
    border-radius: 2px;
    position: relative;
}


.checkbox:checked::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  color: #fff;
  font-weight: 800;
}



.checkboxLabel {
  color: #ffffff;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
}

.gridItem {
  width: 523px;
  /* height: 423px; */
}

.contactList li {
  list-style: none;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.numberInfo,
.emailInfo {
  background-color: #E9F5FF;
  padding: 22px;
  border-radius: 14px;
  color: #1D405C;
}

.contactHead {
  text-align: center;
  margin-bottom: 20px;
  color: var(--blue);
}

.phoneNumber,
.email {
  background-image: linear-gradient(98.89deg, #ff5f6d 0%, #ffc371 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desktopimg{
  display: block;
}
.responsiveimg{
  display: none;
}

@media (min-width: 320px) and (max-width: 601px) {
  .gridContainer {
    height: auto;
    flex-direction: column;
    gap: 50px;
  }

  .checkboxLabel {
    font-size: 14px;
  }

  .gridItem {
    width: auto;
  }

  .heading {
    font-size: 32px;
  }

  .registerButton,
  .textField {
    height: 53px;
    font-size: 14px;
    max-width: 320px;
    padding: 15px 26px;

  }

  .textField::placeholder {
    font-size: 14px;
  }

  .formLabel{
    font-size: 14px;

  }
  .registerButton{
    margin: 0px;
    width: 100%;
  }

  .errorMessage {
    text-align: left;
  }

  .innerWrapper {
    padding: 20px 10px;
    text-align: center;
    

  }

  .text {
    font-size: 12px;
    margin-top: 5px;
  }

  .registerWrapper {
    height: auto;
    width: auto;
  }
  .formControlBox{
    flex-direction: column;
    margin: 0px 0px 23px 0px;
  }
  .formWrapper{
    margin: 30px 0px 23px 0px;
  }
  .desktopimg{
    display: none;
  }
  .responsiveimg{
    display: block;
    object-fit: cover;
  }
}

@media (min-width: 605px) and (max-width: 900px) {
  .gridContainer {
    height: auto;
    flex-direction: column;
    gap: 50px;
  }

  .registerWrapper,
  .gridItem {
    margin: auto;
  }
  .formControlBox{
    flex-direction: column;
  }
  .desktopimg{
    display: none;
  }
  .responsiveimg{
    display: block;
    object-fit: cover;
  }
}

@media (min-width: 901px) and (max-width: 1250px) {
  .registerButton,
  .textField {
    
    width: 316px;  


  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .heading {
    font-size: 48px;
  }
  .text {
    font-size: 18px;
  }
  .formLabel {
    font-size: 18px;
  }
}