

.seeAllButton{
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: var(--green);
  border-radius: 25px;
  border: 2px solid var(--green);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  font-size: 18px;
  width: 232px;
  gap: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  }
  .seeAllButton:hover{
    background-color: var(--green);
    color: #fff;
  }
  
  .seeAllButton:active{
    transform: scale(0.98); 
  }
  
  /* css for tablet device */
  @media (max-width: 600px) {
  
    .seeAllButton{
      width: 165px;
      border-radius: 16px;
      height: 38px;
      font-size: 12px;
      margin-top: 40px;
    }


  }