.signupSkeleton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 50px;
  padding: 50px 0px;
}
.Boxconatiner {
  background-color: #01395e;
  box-shadow: 0px -10px 15px rgba(29, 64, 92, 0.3);
  padding: 50px 0;
}

.container {
  text-align: center;
  margin: auto;
  max-width: 900px;
}

.heading {
  font-family: Calistoga;
  background-image: linear-gradient(98.89deg, #ff5f6d 0%, #ffc371 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: #fff;
  padding: 25px 32px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 267px;
  margin: auto;

}

.image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  float: left;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  /* top: 56px; */
  box-sizing: border-box;
  color: #fff;
  border-radius: 15px;
  width: 170px;
  height: 124px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
}

.text {
  font-family: Calistoga;
  font-size: 1.6rem;
}

.button {
  color: #fff;
  text-transform: capitalize;
  margin-top: -1px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 4px 20px;
  background: transparent;
  cursor: pointer;
}

/* .signupButton {
  color: #fff;
  background-color: #01395e;
  border: 1px solid #ffffff;
  border-radius: 20px; */
  /* margin: auto; */
  /* margin-top: 28px; */
  /* padding: 10px 20px; */
  /* width: 328px;
  text-transform: capitalize;
  height: 58px;
  font-size: 20px;
  cursor: pointer;
} */

.signupButton {
  display: inline-block;
    color: #fff;
    background-color: #01395e;
    border: 1px solid #ffffff;
    border-radius: 20px;
    /* margin: auto; */
    margin-top: 28px;
    padding: 15px 20px;
    width: 328px;
    text-transform: capitalize;
    height: 58px;
    font-size: 20px;
    cursor: pointer;
    /* font-weight: 700; */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
 
}

.signupButton:hover{
  background-color: #2a5e88;
}

.signupButton:active{
  transform: scale(0.98); 
}

@media (min-width: 320px) and (max-width: 370px) {
  .description{
    padding: 20px 3px;
    font-size: 16px;
  }
  .heading{
    font-size: 32px;
  }
  .signupButton{
    width: 280px;
  }
  .Boxconatiner{
    padding: 50px 20px;
  }
  .imageContainer{
    width: 259px !important;
    margin-left: -2px;
  }
  .signupButton{
    width: 296px;
   }
}
@media (min-width: 375px) and (max-width: 600px) {
  .description{
    padding: 20px 10px;
    font-size: 16px;
  }
  .heading{
    padding: 0px 60px;
  }
  .Boxconatiner{
    padding: 50px 20px;
  }
  
  .imageContainer{
    /* margin-left: -9px; */
    /* width: 100%; */
  }
 .signupButton{
  width: 296px;
 }
}