.topImageContainer {

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.topImageContainer img{
  object-fit: cover;
}

.topBarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffff;
  margin-top: 80px;
  gap: 7px;
  position: relative;
}

.topBarContent h1 {
  letter-spacing: 1px;
}


.topBarContent p {
  font-size: 32px;
}

.circleBackground {
  background-color: #FF9277;
  border-radius: 25px;
  padding: 5px 7px;
  width: 69px;
  height: 52px;
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circleBackground button {
  background: none;
  border: none;
  cursor: pointer;
}



@media (min-width: 320px) and (max-width: 600px) {

  .circleBackground {
    display: none;
  }


  .topImageContainer {

    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }

  .topBarContent {
    margin-top: 117px;
  }

  .topBarContent p {
    font-size: 18px;
  }

  .customTypography {
    font-size: 2rem;

  }

  .subtitle {
    font-size: 1.2rem;
  }

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .topImageContainer {
    height: 473px;
  }

  .topBarContent {
    /* top: 50%; */
  }

}