.OrderDeadlineSkeleton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.order_card {
  /* background-image: url("/Images/Deadlinebgimg.png"); */
  position: relative;
  object-fit: cover;
  }


.next_order{
  position: relative;
  width: 100%;
  height: 709px;
  max-height: 710px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.nextorder_deadline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  text-align: center;
  width: 400px;
  padding: 18px 19px;
 ;
}
.nextorder_deadline .next{
  color:#544131;
}
.orderNow{
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  background-color: #F17267;
  border-radius: 25px;
  margin-inline: auto;
  text-transform: capitalize;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 71px;
  font-size: 17px;
  width: 232px;
  gap: 5px;
  cursor: pointer;
}
.nextorder_deadline .contentCard1{

}

.contentCard1 h1{
  letter-spacing: 17px;
  background-image: linear-gradient(98.89deg, #FF5F6D 0%, #FFC371 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.freightConatiner{
  padding: 100px 0px;
  background-color: rgba(241, 114, 103, 0.29);
  position: relative;
}
.mainFreight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.shippingPrice{
  display: flex;
  gap: 60px;
  
}
.freightdiv{
  margin: 0px 0px 48px 0px;
}
.Freight{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 24px;
  text-align: center;
  margin-top: 24px;
  width: 400px;
  padding: 20px; */
}
.hr{
  display: none;
}
.Freight div{
  /* width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 6px; */
}

.timeCard1{
     word-spacing: 30px;
    color: rgba(33, 33, 33, 0.7);
    font-size: 24px;

}
.deadlinedata{
  width: 100%;
  max-width: 694px;
  position: absolute;
  top: 14%;
  left: 29%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.deadlineContainer{
  background: #fff;
  border-radius: 20px;
  padding: 32px;
}
 .Freight h2{
 color: #544131;
 font-size: 72px;
 
 }
 .Freight h4{
  background-image: linear-gradient(98.89deg, #FF5F6D 0%, #FFC371 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
 .dkcost{
  background-color: #fff;
  width: 314px;
  max-width: 314px;
  padding: 23px;
  border-radius: 10px;
  border: 2px inset rgba(241, 114, 103, 0.29);
  box-shadow: 0px 3.76px 18.81px rgba(0, 0, 0, 0.08);
 }
 .Freight p{
  padding: 16px 0px 0px 0px;
  color: rgba(33, 33, 33, 0.7);
 }


 @media only screen and (max-width: 601px){
  .nextorder_deadline, .Freight{
    max-width: 303px;
  }
  .nextorder_deadline .next{
    font-size: 30px;
  }
  .Freight h2{
    font-size: 30px;
  }
  .Freight p{
    font-size: 13px;
  }
  .timeCard1{
    font-size: 13px;
  }
 }