.skeletonContainer{
  justify-content: center;
  padding-inline: 20px;
  gap: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 50px 0px;
}
.container {
  /* margin: 40px 0px; */
  background-color: #f4fff7;
}


.heading {
  color: forestgreen;
  font-weight: 800;
  text-align: center;
  font-family: Calistoga;
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 72px;
}

.gridContainer {
  justify-content: center;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.gridItem{
  background-color: #fff;
  border-radius: 19px;
  padding: 23px 19px;
  height: 100%;
  width: 306px;
  max-width: 310px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.06);
  border: 0.5px solid rgba(33, 144, 41, 0.4);
}
.transparentCard {
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  height: 100%;
 
}



.imgContainer {
  position: relative;
  display: flex;
 align-items: center;
 justify-content: center;
  cursor: pointer;

}

.cardTopImage {
  width: 40px;
  height: auto;
  /* position: absolute; */
  right: 9.4px;
  top: 18px;
  border-radius: 3.11756px;
}

.cardImage {
  max-width: 227px;
  max-height: 159px;
  object-fit: contain;
}
.cardContent{
  display: flex;
  gap: 36px;
  justify-content: space-between;
}
.hearticon{
  font-size: 38px;
  cursor: pointer;
  display: inline-block;
}

 .default{
  color: #BFBFBF;
 }
.clicked {
  color: #EA3C3C;
}
.cardTitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  cursor: pointer;
  color: var(--blue);
  margin: 6px 0px;
  text-align: left;
}

.cardPrice {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.56;
  letter-spacing: normal;
  color: rgba(33, 33, 33, 0.7);
  text-align: left;
}

.cardActions {
  text-align: center;
}

.addToBasketButton {
  width: 100%;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 31.21px;
  letter-spacing: normal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border: none;
  background: #219029;
  box-shadow: 0px 6.23512px 12.4702px rgba(33, 144, 41, 0.25);
  border-radius: 25px;
  cursor: pointer;
}

.addToBasketButton:hover {
  background: #32a33a;
  transform: scale(1.05);
}

.addToBasketButton:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
}
.addToBasketButton:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 0px 4px 8px rgba(33, 144, 41, 0.25);; 
  /* Lowering the shadow */ 
} 



.buttonContainer {
  text-align: center;
}

.productButton {
  text-transform: capitalize;
  width: 200px;
  border-radius: 25px;
  background-color: #1d405c;
  font-size: 15px;
  color: #fff;
}

.arrowIcon {
  margin-left: 7px;
}

.addToBasket .valueButton:hover {
  /* background: #1a7420; */
}

.addToBasket .valueButton:active {
  background: #219029;
}

.addToBasket .decreaseButton,
.addToBasket .increaseButton {
  margin: 0;
  width: 30px;
  height: 34px;
  background-color: var(--green);
  color: white;
  border: none;
  font-size: 22px;
}

.addToBasket .decreaseButton {
  border-radius: 4px 0 0 4px;
}

.addToBasket .increaseButton {
  border-radius: 0 4px 4px 0;
}

.addToBasket label {
  display: none;
}

.addToBasket .number {
  color: white;
  appearance: none;
  width: 30px;
  height: 34px;
  border: none;
  text-align: center;
  background: transparent;
  color: #ffff;
  outline: none;
}

.addToBasket input[type="number"]::-webkit-inner-spin-button,
.addToBasket input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
/* .addToBasket {
    width: 108px;
    height: 34px;
    padding: 9px 5px;
  } */
.addToBasket .valueButton {
  border: 1px solid var(--green);

  width: 40px;
  padding: 0;
  background: var(--green);
  outline: none;
  cursor: pointer;
}

.addToBasket {
  width: 100%;
  height: 51px;
  font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 31.21px;
    letter-spacing: normal;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7px;
    border: none;
    background: #219029;
    box-shadow: 0px 6.23512px 12.4702px rgba(33, 144, 41, 0.25);
    border-radius: 25px;
    cursor: pointer;
}
.newStatus{
  display: flex;
  gap: 6px;
}
.newStatus p {
  background-color: rgba(241, 114, 103, 1);
  color: #fff;
  border-radius: 12px;
  padding: 2px 10px;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
}

@media (min-width: 318px) and (max-width: 350px) {
  .gridContainer {
    gap: 16px !important;
  }
}

@media (max-width: 600px) {
  .gridItem{
    padding: 8px 8px 12px 8px;
    width: 100%
  }
 .addToBasket{
    width: 100%;
    height: 34px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    padding: 7px 15px;
 }
  .container {
    /* padding: 20px 0px; */
    background-color: transparent;
  }

  .heading {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 40px;
  }

  .gridContainer {
    gap: 11px;
    grid-template-columns: auto auto;
    padding: 17px;
    justify-content: normal;
  }

  .transparentCard {
    gap: 16px;
    width: 100%;
  
  }

  .imgContainer {
    width: 122px;
    margin: auto;
  }

  .cardTitle {
    margin: 3px 0px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
  }

  .cardPrice {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.54;
    letter-spacing: normal;
  }

  .cardActions {
    text-align: center;
  }

  .addToBasketButton {
    /* font-family: HelveticaNeue; */
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;

    padding: 7px 15.55px;
  }

  .cardTopImage {
    width: 26px;
    height: auto;
    right: 6px;
    top: 11.5px;
    border-radius: 2px;
  }

  .cardImage {
    max-height: 90px;
    object-fit: contain;
  }
  .hearticon{
    font-size: 20px;
  }
  .cardContent{
    gap: 0px;
  }

}

@media (min-width: 600px) and (max-width: 780px) {
  .gridContainer {
   
    grid-template-columns: auto auto;
  }

}

@media (min-width: 781px) and (max-width: 1080px) {
  .gridContainer {
    grid-template-columns: auto auto auto;
  }
}



.skeletonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 51px;
  justify-content: center; /* Optional: Center the skeleton cards */
}

.skeletonCard {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 244px;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

.skeletonImage {
  margin-bottom: 16px;
  border-radius: 8px; /* Add border radius */
}

.skeletonText {
  margin-bottom: 16px;
  width: 100%;
  border-radius: 4px; /* Add border radius */
}

.skeletonButton {
  width: 100%;
  border-radius: 16px !important;
}

.cardSkeleton {
  /* background: #fff; */
  padding: 14px;
  border-radius: 10px;
}

.topImage{
  float: right;
  margin-bottom: 20px;
}