.skeletonContainer{
  justify-content: center;
  padding-inline: 20px;
  gap: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 50px 0px;
  margin: auto;
}
.container {
  /* margin: 40px 0px; */
  background-color: #f4fff7;
}


.heading {
  color: forestgreen;
  text-align: center;
  font-family: Calistoga;
  font-size: 72px;
  text-transform: math-auto;

}

.gridWrapper {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1324px;
}

.gridContainer {
  justify-content: center;
  column-gap: 20px;
  row-gap: 48px;
  padding-inline: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 45px 0;
}
.gridItem{
  background-color: #fff;
  border-radius: 19px;
  padding: 19px 19px 23px;
  /* height: 100%;
  max-height: 409px;
  width: 100%;
  max-width: 306px; */
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.06);
  border: 0.5px solid rgba(33, 144, 41, 0.4);
  flex-grow: 1;
flex-basis: 0;
min-width: 169px;
}
.transparentCard {
  border: none;
  box-shadow: none;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
  width: 268px;
}



.imgContainer {
  position: relative;
  cursor: pointer;
  height: 239px;
  max-height: 240px;
}

.cardTopImage {
  width: 40px;
  height: auto;
  /* position: absolute; */
  right: 9.4px;
  top: 18px;
  border-radius: 3.11756px;
}

.cardImage {
  object-fit: contain !important;
}
.cardContent{
  display: flex;
  gap: 4px;
  justify-content: space-between;
}
.hearticon{
  font-size: 38px;
  cursor: pointer;
  display: flex;
}
.hearticon i::before{
  position: relative;
  top: -3px;
}

 .default{
  color: #BFBFBF;
 }
.clicked {
  color: #EA3C3C;
}
.organicLogo{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/*.noGap{
  gap: 0px;
}*/
.cardTitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  cursor: pointer;
  color: var(--blue);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 223px;
}

.cardPrice {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.56;
  letter-spacing: normal;
  color: rgba(33, 33, 33, 0.7);
  text-align: left;
}

.cardActions {
  text-align: center;
}

.addToBasketButton {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 31.21px;
  letter-spacing: normal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border: none;
  background: #219029;
  box-shadow: 0px 6.23512px 12.4702px rgba(33, 144, 41, 0.25);
  border-radius: 25px;
  cursor: pointer;
}

.addToBasketButton:hover {
  background: #32a33a;
  transform: scale(1.05);
}

.addToBasketButton:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
}
.addToBasketButton:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 0px 4px 8px rgba(33, 144, 41, 0.25);; 
  /* Lowering the shadow */ 
} 

.gridItem.shopPage{
	min-width: auto;
}

.buttonContainer {
  text-align: center;
}

.productButton {
  text-transform: capitalize;
  width: 200px;
  border-radius: 25px;
  background-color: #1d405c;
  font-size: 15px;
  color: #fff;
}

.arrowIcon {
  margin-left: 7px;
}

.addToBasket .valueButton:hover {
  /* background: #1a7420; */
}

.addToBasket .valueButton:active {
  background: #219029;
}

.addToBasket .decreaseButton,
.addToBasket .increaseButton {
  margin: 0;
  width: 30px;
  height: 34px;
  background-color: var(--green);
  color: white;
  border: none;
  font-size: 22px;
}

.addToBasket .decreaseButton {
  border-radius: 4px 0 0 4px;
}

.addToBasket .increaseButton {
  border-radius: 0 4px 4px 0;
}

.addToBasket label {
  display: none;
}

.addToBasket .number {
  font-size: 18px;
  color: white !important;
  appearance: none;
  width: 30px;
  height: 34px;
  border: none;
  text-align: center;
  background: transparent;
  color: #ffff;
  outline: none;
}

.addToBasket input[type="number"]::-webkit-inner-spin-button,
.addToBasket input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addToBasket input[type="number"] {
  -moz-appearance: textfield;
}

/* .addToBasket {
    width: 108px;
    height: 34px;
    padding: 9px 5px;
  } */
.addToBasket .valueButton {
  border: 1px solid var(--green);

  width: 40px;
  padding: 0;
  background: var(--green);
  outline: none;
  cursor: pointer;
}

.addToBasket {
  width: 100%;
  height: 51px;
  font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 31.21px;
    letter-spacing: normal;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7px;
    border: none;
    background: #219029;
    box-shadow: 0px 6.23512px 12.4702px rgba(33, 144, 41, 0.25);
    border-radius: 25px;
    cursor: pointer;
}
.newStatus{
  display: flex;
  gap: 6px;
  min-height: 27px;
  margin-bottom: 9px;
}
.newStatus p {
  background-color: rgba(241, 114, 103, 1);
  color: #fff;
  border-radius: 12px;
  padding: 2px 10px;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
}

@media (max-width: 600px) {
  .gridContainer {
    gap: 10px;
    margin: 40px auto 0px auto;
    max-width: 420px;
  }
  .gridItem{
    padding: 8px 8px 12px 8px;
    /* width: 100%; */
    border-radius: 10px;
  }
 .addToBasket{
    width: 100%;
    height: 34px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    padding: 7px 15px;
 }
  .container {
    /* padding: 20px 0px; */
    background-color: transparent;
  }

  .heading {
    font-size: 40px;
  }

  .imgContainer {
    /* width: 122px; */
    /* margin: auto; */
  }

  .cardTitle {
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    max-width: 150px;
  }

  .cardPrice {
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.54;
    letter-spacing: normal;
  }

  .cardActions {
    text-align: center;
  }

  .addToBasketButton {
    /* font-family: HelveticaNeue; */
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;

    padding: 7px 15.55px;
  }

  .addToBasket .number {
    font-size: 14px;
	opacity:1;
  }

  .newStatus{
	min-height: 18px;
	margin-bottom: 5px;
  }

  .newStatus p {
    font-size: 11px;
    padding: 9px;
    height: 18px;
	line-height: 8px;
  }

  .cardTopImage {
  	width: 26px;
    height: 18px;
    right: 6px;
    top: 11.5px;
    border-radius: 2px;
  }


  .hearticon{
 	font-size: 20px;
    position: absolute;
    right: -2px;
    top: 2px;
  }
  .cardContent{
    /* gap: 3px; */
    position: relative;
  }

  .skeletonContainer{
    display: grid !important;
    grid-template-columns: 165px 165px;
    margin: 0px 24px;
    gap: 14px !important;
  }
  .skeletonCard{
    width: 100% !important;
  }
  .newskl{
    justify-content: center !important;
  }
  .newskl div:first-child{
    width: 100px;
  }
  .skeletonImage{
    height: 120px !important;
  }

  .newskl .skldiv{
    width: 70px !important;
  }
  
}

@media (min-width: 601px) and (max-width: 975px) {
  .gridContainer {
    justify-content: center;
	max-width: 675px;
    margin: 45px auto;
  }
  .heading{
    /* margin-top: 40px; */
    /* margin-bottom: 50px; */
    font-size: 50px;
  }
  .gridItem{
      flex-basis: 48%;
    }
}

@media (min-width: 977px) and (max-width: 1290px) {
  .heading{
    /* margin-top: 40px; */
    /* margin-bottom: 50px; */
    font-size: 50px;
  }
  .gridWrapper{
    max-width: 1000px;
  }
}

@media ( max-width: 1024px ){
	.Frukt .shop-img, .Grönsakerlådor .shop-img, .home-img, .product-detail-img{
		transform: none;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .heading {
    font-size: 64px;
  }
  .cardTitle {
    font-size: 16px;
  }
  .cardPrice {
    font-size: 16px;
  }
  .addToBasketButton {
    font-size: 18px;
  }
}

@media (max-width: 1439px) {
  .transparentCard {
    height: 330px;
    width: 100%;
  }
}

@media(min-width:373px) and (max-width:416px){
  .transparentCard {
    height: 215px;
    width: 154px;
  }
  .gridContainer{
    max-width: 374px;
    margin: 40px auto 0px auto;
  }
}
@media (min-width:417px) and (max-width: 600px) {
  .transparentCard {
    height: 217px;
    width: 175px;
  }
}
@media (max-width: 370px) {
  .transparentCard {
    height: 180px;
    width: 126px;
  }
  .gridContainer {
    gap: 8px;
    justify-content: center;
  }
  .cardTitle{
    max-width: 90px;
  }
}

.skeletonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 51px;
  justify-content: center; /* Optional: Center the skeleton cards */
}

.skeletonCard {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 244px;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

.skeletonImage {
  margin-bottom: 16px;
  border-radius: 8px; /* Add border radius */
}

.skeletonText {
  margin-bottom: 7px;
  width: 100%;
  border-radius: 4px; /* Add border radius */
}

.skeletonButton {
  width: 100%;
  border-radius: 16px !important;
}

.cardSkeleton {
  /* background: #fff; */
  padding: 14px;
  border-radius: 10px;
}

.topImage{
  float: right;
  margin-bottom: 20px;
}

.newskl{
  display: flex;
  flex-direction: row;
  align-items: baseline;
    justify-content: space-between;
}

.newskl div:first-child{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}