.button {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(33, 144, 41, 0.08);
  color: white;
}

.defaultButton {
  border-radius: 5px;
  background-color: var(--blue);
}

/* Custom style */

.customButton {
  box-sizing: border-box;

  background-color: var(--green); /* Custom background color */

  box-shadow: 0px 4px 8px rgba(33, 144, 41, 0.25);
  border-radius: 7.4px;
}

/* Icon position */
.icon {
  margin-left: 8px;
}
