.dropdown {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  z-index: 2;
  background: #fff;
  top: 117px;
  right: 37px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cartContainer {
  display: flex;
  gap: 19px;
  align-items: center;
}

.title {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial;
  font-weight: bold;
}

.cartItems {
  list-style: none;
  padding: 0 21px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 200px;
  overflow: auto;
}

.cartItem {
  display: flex;
  gap: 69px;
  justify-content: space-between;
  align-items: center;
}

.itemImage {
  border-radius: 8px;
  width: 64px;
}

.itemName {
  color: var(--blue);
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  
}

.itemPrice {
  color: var(--blue);
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 14px;
  font-weight: bold;

}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  color: var(--blue);
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    sans-serif;
  margin: 10px 0;
}

.total span:first-child {
  color: #000;

}



.checkoutButton {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 31.21px;
  letter-spacing: normal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border: none;
  background: #219029;
  box-shadow: 0px 6.23512px 12.4702px rgba(33, 144, 41, 0.25);
  border-radius: 25px;
  cursor: pointer;
}

.checkoutButton:hover {
  background: #32a33a;
  transform: scale(1.05);
}

@media only screen and (max-width:768px) {
  .dropdown {
    /* display: none; */
    left: 0px;
    right: 0px;
    width: 400px;
    margin: auto;
    z-index: 11;
  }
  .itemName{
    max-width: 174px;
  }
  .cartItem{
    gap: 20px;
  }
}
@media (min-width:350px) and (max-width:430px){
  .dropdown {
    left: 0px;
    right: 0px;
    width: 370px;
    margin: auto;
  }
}
@media (min-width:320px) and (max-width:375px){
  .dropdown {
    left: 0px;
    right: 0px;
    width: 320px;
    margin: auto;
  }
}