.footerwrap {
  box-sizing: border-box;
  /* height: 546px;
  max-height: 630px; */
  background: #1D405C;
  padding: 50px 112px;
}

.footerlogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footerlogoImg {
  position: relative;
  object-fit: contain;
  width: 158px;
}

.hrgradient {
  background: rgba(255, 255, 255, 0.18);
  border: none;
  height: 1px;
}

.footertext {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px
}

.footertext ul li {
  list-style: none;
  color: #E7E7E7;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}

.footertext p {
  font-weight: 700;
  background: linear-gradient(98.89deg, #FF5F6D 0%, #FFC371 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 16px;
}

.footertextcontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}

.footermedia {
  display: flex;
  justify-content: space-between;

}

.footermedia p {
  font-weight: 700;
  background: linear-gradient(98.89deg, #FF5F6D 0%, #FFC371 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;

}

.footercountries {
  position: relative;
}

.countrypopup {
  background: #fff;
  border: 1px solid #868686;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  width: 400px;
  right: 0px;
  transform: translateY(-60%);

}

.countrypopup ul li {
  list-style: none;
  padding: 10px 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: #1D405C;
}

.countrypopup i {
  float: right;
  cursor: pointer;
  color: #1D405C;
}

.changecountry {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: auto;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  font-size: 17px;
  width: 206px;
  gap: 10px;
  cursor: pointer;
}

.thelegalconutry button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  font-size: 17px;
  width: 206px;
  gap: 10px;
}

.thelegalconutryImg {
  position: relative;
  width: 20px;
  height: 20px;
}

.carddataimg {
  display: flex;
  gap: 10px;
}

.footercopyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footercopyright p {
  color: #ffff;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}


.thelegalconutry {
  display: none;
}

@media (min-width: 320px) and (max-width: 600px) {
  .countrypopup {
    width: 350px;
    right: 0px;
    transform: translateY(100%);
  }

  .footertextcontainer {
    display: grid;
    grid-template-columns: 248px;
    gap: 10px;
  }

  .footertext {
    height: auto;
    gap: 20px;
  }

  .footertext p{
    font-size: 16px;
  }
  .footertext ul li{
    font-size: 13px;
  }
  .footerwrap {
    height: auto;
    /* max-height: 850px; */
    padding: 24px 16px;
  }

  .changecountry {
    display: none;
  }

  .thelegalconutry {
    display: block !important;
    padding: 20px 0px;
  }

  .thelegalconutry button {
    border-radius: 16px;
    height: 36px;
    font-size: 13px;
    width: 164px;
    gap: 6px;
  }

  .thelegalconutryImg {
    position: relative;
    width: 16px;
    height: 16px;
  }

  .footercopyright {
    gap: 10px;
    margin: 15px 0px;
  }
  .carddataimg li a img{
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1224px) {
  .footerwrap {
    height: auto;
    /* max-height: 850px; */
    padding: 50px 23px;
  }
  .footertext p{
    font-size: 16px;
  }
  .footertext ul li{
    font-size: 13px;
  }
  .footertextcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  .carddataimg li a img{
    width: 32px;
    height: 32px;
  }
  .footertext{
    gap: 20px;
  }
}


@media (min-width: 380px) and (max-width: 600px) {
  .footerlogoImg {
  width: 157px;
  height: 57px;
}
}


@media (min-width: 320px) and (max-width: 380px) {
  .footerlogoImg {
  width: 140px;
  height: 50px;
}
}

