.awardSkeleton{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}
.bgcontainer{
  padding: 60px 0px;
  background: #fff;
 
}
.container {
  width: 100%;
  max-width: 600px;
  }

  .heading {
    text-align: center;
    margin: 70px 0px 48px 0px;
    font-family: 'Calistoga';
    color: var(--green);
    font-size: 72px;
    text-transform: capitalize;

  }
  
  .gridContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    animation: 20s slide linear infinite;
    width: calc(2 * 100%); 
  }
  
  .gridContainer:hover {
    animation-play-state: paused; /* Pause animation on hover */
  }
  
  .gridItem {
    flex: 0 0 auto; /* Prevent grid items from shrinking */
    transition: transform 5s ease-in-out;
  }
  
  .gridItem:hover {
    transform: scale(0.98); /* Slightly scale down on hover */
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Move half the container's width */
    }
  }
  
  
  .card {
    width: 267px;
    max-width: 267px;
    box-shadow: none;
    background-color: transparent;
    text-align: center;
  }
  
  .image {
    width: 192px;
    height: 192px;
    object-fit: contain;
  }
  
  .content {
    text-align: center;
    margin-top: 10px;
  }
  
  .name {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }
  @media(min-width:320px) and (max-width:360px){
    .gridItem {
      padding: 0 15px;
  }
  .heading{
    font-size: 40px;
  }
}
  @media (min-width: 320px) and (max-width: 600px) {
    .heading{
      font-size: 40px;
    }
    .name{
      font-weight: 500;
    font-size: 13px;

    }
    .container{
      max-width: 850px;
      height: auto;
      margin: auto;
  
    }
    .image {
      width: 112px;
      height: 112px;
      object-fit: contain;
  
  
    }
    .bgcontainer{
      padding: 0px;
    }
    .card {
      margin: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
    
    }
    .content{
      max-width: 193px;
    }
    .gridItem{
      max-width: 213px;
    }
    
  }

  @media (min-width: 768px) and (max-width: 1024px){
  
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    .heading {
      font-size: 64px;
    }
    .name {
      font-size: 18px;
    }

  }