.videoSkeleton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerbgcolor{
  margin: 83px 0px 0px 0px;
  position: relative;
  height: 761px;
  max-height: 761px;
}
.card {

  display: flex;
  align-items: center;
  gap: 69px;
  justify-content: flex-end;
  position: relative;
  
}
.commonfrontImg{


}
.commonfrontImg img{
 top: 22% !important;
}

.content {
  max-width: 569px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.videoContainer {
  background-color: rgba(163, 191, 115, 1);
  padding: 83px 0px 0px 0px;
  border-radius: 40px;
  width: 684px;
  max-width: 741px;
  height: 639px;
  max-height: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  width: 100%;
  font-family: Calistoga;
  color: var(--green);
}


.text {

  color: var(--text-light);
}


@media (min-width: 300px) and (max-width: 370px) {}

@media (min-width: 320px) and (max-width: 600px) {}


