.videoSkeleton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoPosition{
  z-index: 1;
}
.containerbgcolor{
  background: #fff;
  position: relative;
}
.card {

  display: flex;
  align-items: center;
  gap: 69px;
  justify-content: center;
  position: relative;
  
}
.commonfrontImg{
 

}
.commonfrontImg img{
  top: 0% !important;
    position: absolute;
    width: 100%;
}

.content {
  max-width: 592px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0px 0px 0px 60px;
  flex: 1;
}

.videoContainer {
  background-color: rgba(163, 191, 115, 1);
  padding: 83px 0px 0px 0px;
  width: 100%;
  max-width: 1024px;
  height: 639px;
  max-height: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 569px;
}

.heading {
  width: 100%;
  font-family: Calistoga;
  color: var(--green);
}


.text {

  color: var(--text-light);
}
.learnmore{
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
  border-radius: 25px;
  border: 2px solid var(--green);
  background-color: var(--green);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 17px;
  width: 262px;
  gap: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  z-index: 5;
  box-shadow: 0px 6.24px 12.47px 0px rgba(33, 144, 41, 0.25);
}
.learnmore:hover{
  background-color: transparent;
  color: var(--green);
}
.mobileviewimg{
  display: none;
}
.giftsvg{
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 303px;
  position: absolute;
  top: 59%;
  left: 74%;
  transform: translate(6px, 0px);
}
.giftsvgmobile{
  display: none;
}

@media (min-width: 300px) and (max-width: 370px) {
  .giftsvg{
    display: none
  }
  .giftsvgmobile{
    display: block;
    width: 300px !important;
    height: 100%;
    border-radius: 20px;
  }
  .giftsvgmobile img{
    width: 100%;
  }
  
  .text{
    font-size: 16px !important;
  }
  .videoContainer{
    width: 300px !important;
  }

}

@media (min-width: 320px) and (max-width: 600px) {
  .giftsvg{
    display: none
  }
  .giftsvgmobile{
    display: block;
  }
  .giftsvgmobile img{
    border-radius: 20px;
  }
  .card{
    flex-direction: column;
    gap: 0px;
  }
  .content{
    margin: 40px 0px 24px 0px;
    align-items: center;
        justify-content: center;
        text-align: center;
  }
  .text{
    font-size: 16px;
  }
  .videoContainer{
    padding: 40px 0px 0px 0px;
    width: 343px;
    max-width: 741px;
    height: 100%;
    max-height: 343px;
    margin: 0px 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    flex: auto;

  }
  .desktopimg{
    display: none;
  }
  .mobileviewimg{
    display: block;
    scale: 1.8;
    width: 189.5px;
    margin: 0px 0px 0px 0px;
    transform: translate(0.5px, 4px);

  }
  .learnmore{
    height: 39px;
    font-size: 14px;
    width: 171px;
    border-radius: 16px;
  }
  .textContainer{
    padding: 0px 20px;
  }

}


@media(min-width:602px) and (max-width: 1100px) {
  .giftsvg{
    display: none
  }
  .giftsvgmobile{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 610px;
    max-height: 209px;

  }
  .giftsvgmobile img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }

  
  .card{
    flex-direction: column;
    gap: 0px;
  }
  .content{
    margin: 40px 0px 24px 0px;
    align-items: center;
        justify-content: center;
        text-align: center;
  }
  .text{
    font-size: 20px;
  }
  .videoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0px 0px 0px;
    width: 583px;
    max-width: 741px;
    height: 100%;
    margin: 0px 36px;
    border-radius: 20px;
    flex: auto;
  }
  .desktopimg{
    display: none;
  }
  .mobileviewimg{
    display: none;
  }
  .commonfrontImg img{
    top: 90% !important;
    position: absolute;
    object-fit: fill;
    left: 55.7%;
    width: auto;
  }
}
@media(min-width:1101px) and (max-width: 1396px){
.content{
  margin: 0px 0px 0px 30px;
}
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .content h1 {
    font-size: 64px;
  }
  .text {
    font-size: 18px;
  }
  .learnmore {
    font-size: 18px;
  }
}