/* AllGoods.module.css */

.BgWrapper {
  background-color: #f4fff7;
}

/* Custom container */
.customContainer {
  /* Styles for the container */
  background-color: #f4fff7;
  padding-top: 60px;
  text-align: center;
}

/* Heading wrapper */
.headingWrapper {
  margin-bottom: 40px;
  text-align: center;
  color: #219029;
  font-weight: 700;
  font-size: 36px;
  font-family: Calistoga, serif;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.headingWrapper>h1 {
  flex: 2;
}

/* .headingWrapper > div {
  flex: 1;
} */

/* Custom SVG icon */
.cutsomSvgIcon {
  /* Styles for the SVG icon */
  font-size: 1rem;
}

.navbar {
  display: none;
}

/* Goods item */
.skeletonImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Image container */
.imageContainer {
  /* Styles for the image container */

  position: relative;
  display: flex;
  justify-content: center;
}

/* Cover image */
.coverImage {
  /* Styles for the cover image */
  width: 100%;
  /* Set width to 100% */
  height: auto;
  /* Let the height adjust automatically to maintain aspect ratio */
  max-width: 1200px;
  /* Limit the maximum width to 92% of the container width */
  margin-inline: 60px;
  max-height: 178px;
  /* Limit the maximum height to 178px */
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-radius: 15px;
  opacity: 1;
}

/* Image heading */
.headingWrapper h1 {
  font-family: Calistoga;
  font-size: 100px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -2px;
}

.imageHeading {
  /* Styles for the image heading */
  color: var(--blue);
  font-weight: 700;
  z-index: 2;

  font-family: Calistoga;
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -2px;
}

/* Goods card */
.goodsCard {
  /* Styles for the goods card */
  margin-inline: auto;
  margin-top: 0PX;
}

.comingSoon {

  padding-bottom: 60px;
  font-size: 2rem;
}

.filterCover {
  display: none;
}

.filterIcon {}

.filterIcon img {
  cursor: pointer;
}

.filterListCover {
  display: none;
  position: absolute;
  z-index: 9;
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  border: 1px solid #eee;
  color: #2C2C2C;
  font-weight: 500;
}

.filterList {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 19px;
}

.filterListLi {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  color: #111;
}

.filterListLi label {
  cursor: pointer;
}

.newfilterListLi {
  font-weight: 500;
  color: var(--blue);
  border: 1px solid var(--blue);
  background: #fff;
  border-radius: 5px;
  padding: 10px 6px;
  width: 100%;
  max-width: 130px;
  cursor: pointer;
}

.newfilterListLi label {
  cursor: pointer;
}

.newfilterlist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  max-width: 1025px;
  margin: auto;
  margin: 40px auto;
  cursor: pointer;
}

.newfilterListLi:hover {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
}

.activeFilter {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
}

.shopfilterbtn {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 20px 7px;
  max-width: 1200px;
  margin: auto;
  justify-content: flex-start;
}

.shopfilterbtn label {
  /* background: var(--green);
  color: #fff;
  padding: 10px 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  border-radius: 6px;
  /* width: 154px; */
  max-width: 200px;
  display: block;
  text-decoration: underline;
}

.blankflexItem {}

/* .filterInput {
  display: none;
}

.FilterRadioLabel::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
  vertical-align: middle;
}

.filterInput:checked + label::before {
  background: black;
} */
.categoriesCover {}

.newfilterlist {}

/* Search Page CSS */
.links {
  color: #226499;
}

@media (max-width: 600px) {

  /* .filterCover{
    display: block;
  } */
  .filterButton {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

  }

  .newfilterlist {
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    gap: 7px;
    /* max-width: 1025px; */
    margin: auto;
    margin: 40px 0px 40px 40px;
    cursor: pointer;
  }

  .newfilterListLi {
    font-weight: 500;
    color: var(--blue);
    border: 1px solid var(--blue);
    background: #fff;
    border-radius: 5px;
    padding: 10px 10px;
    width: 131px;
    max-width: 413px;
  }

  .activeFilter {
    background-color: var(--blue);
    color: #fff;
    cursor: pointer;
  }

  .customContainer {
    padding-top: 40px;
  }

  /* Custom SVG icon */
  .cutsomSvgIcon {
    /* Styles for the SVG icon */

    margin-left: -11px;
    margin-top: 9px;
    font-size: 1.5rem;
  }

  /* Image container */

  /* Cover image */
  .coverImage {
    /* Styles for the cover image */

    max-width: 100%;
    height: 169px;
    margin-inline: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .wrapper {
    width: 100%;
    height: fit-content;
  }

  .customCardImage {
    position: relative;
    top: -36px !important;
    transform: scale(1.1);
  }

  .goodsItem {
    margin-bottom: 40px;
    position: relative;
    padding-top: 8px;
  }

  .imageContainer {
    width: 100%;
    position: absolute;
    top: 0;
  }

  /* 
  .imageContainer::after{
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 169px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } */

  .headingWrapper {
    /* Styles for the heading wrapper */
    margin-bottom: 22px;
    display: flex;
  }

  .headingWrapper h1 {
    font-family: Calistoga;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .imageHeading {
    /* Styles for the image heading */

    margin-top: 30px;
    position: absolute;
    font-weight: 700;
    z-index: 2;

    font-family: Calistoga;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.6px;

    position: absolute;
    top: -32px;
  }

  .goodsCard {
    margin-inline: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .comingSoon {
    margin-bottom: 40px;
    font-size: 1.1rem;
    padding-top: 20px;
  }

  .filterListCover {
    left: 45%;
  }

  /* skeleton css */
  .headingskl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }

  .headingSkeleton {
    width: 170px !important;
    height: 40px !important;
  }

  .comingSoon {
    padding-bottom: 0px;
  }

  .resultDiv {
    margin-bottom: 0px;

  }

}

@media(min-width:650px) and (max-width:1024px) {
  .filterListCover {
    left: 70%;
  }

  .filterButton {
    padding: 0 20px;
  }
}