.zipcodeContainer {
    padding: 60px 0;
    background-color: #f3e3db;
    position: relative;
}

.zipcodeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.zipcodeHeader {
    margin: 0;
}

.headerText {
    color: #544131;
    text-transform: math-auto;
    font-size: 26px;
}

.subheaderText {
    color: #9f9f9f;
    font-size: 26px;
}

.zipcodeCheck {
    display: flex;
    gap: 60px;
}

.formWrapper {
    margin-top: 0;
}

.formControlBox {
    width: auto;
    margin: 33px 0 0px;
    display: flex;
    gap: 20px;
}
.formControlText{
    width: auto;
    margin: 31px 0 0;
    display: flex;
    gap: 4px;
}

.textField {
    background-color: #fff;
    border-radius: 25px;
    padding: 21px 37px;
    border: none;
    width: 461px;
    max-width: 461px;
    height: 62px;
    max-height: 75px;
    font-size: 20px;
}

.submitButton {
    background-color: #A73C61;
    color: #fff;
    border-radius: 25px;
    padding: 17px 0;
    margin: 0;
    border: none;
    width: 230px;
    max-width: 230px;
    height: 62px;
    max-height: 75px;
    font-size: 20px;
    cursor: pointer;
    text-transform: math-auto;
}

.errorMessage {
    color: red;
    font-size: 16px;
    text-align: left;
    margin: 10px;
}

.pointer {
    cursor: pointer;
    text-decoration: underline;
    color: var(--green);
}
@media only screen and (max-width: 600px){
    .headerText{
  font-size: 16px;
    }
    .subheaderText{
        font-size: 16px;
    }
    .formControlBox{
        gap: 14px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0 7px;
    }
    .textField{
        width: 304px;
        max-width: 350px;
        height: 62px !important;
        padding: 19px 14px;
        font-size: 17px;
        text-align: center;
    }
    .submitButton{
        width: 304px;
        max-width: 350px;
        height: 62px!important;
        font-size: 17px;
        text-align: center;
    }
    .formControlText{
        margin: 45px 0px 30px;
        display: block;
    
    }
    .zipcodeWrapper{
        padding: 0px 30px;
    }
    .zipcodeContainer{
        padding: 30px 0px;
    }
    
}